dbxsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="isystem_test">
	<xsd:import namespace="isystem_test" schemaLocation="isystem_test.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:element name="T_CUSTOMERS" type="dflt:T_CUSTOMERS__type" />
				<xsd:element name="T_CUSTOMER_TYPES" type="dflt:T_CUSTOMER_TYPES__type" />
				<xsd:any namespace="isystem_test" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
